.btn{
    display: inline-block;
    padding: 0.8em 2em;
    cursor: pointer;
    border-radius: 0.2em;
    border: 1px solid rgb(221,221,221);
    font-family: inherit;
    background-color: rgb(221,221,221);
    transition: background-color 200ms ease-in-out,
                color 200ms ease-in-out,
                font-weight 200ms ease-in-out;
    outline: none;

    &:disabled{
        cursor: default;
        background-color: transparent;
        border:1px solid rgb(221,221,221);
    }

    &:hover:not([disabled]){
        background-color: rgb(227,227,227);
    }

    &--large{
        font-size: 1.1rem;
    }

    &--link{
        border: none;
        background-color: transparent;
        color: inherit;
        &:hover:not([disabled]){
            background-color: transparent;
            color: #fff;
        }
        &:disabled{
            color: #aaa;
            border:none;
        }
    }
}