.general__report{
    &-right, &-wrong, &--secondary {
        font-size: 0.8rem;
        margin-left: 1em;
    }
    &-right{
        color: $right--contrast;
    }
    &-wrong{
        color: $wrong--contrast;
    }
}