.quiz__report{

    &-right, &-wrong{
        font-size: 0.8rem;
        margin-left: 1em;
    }
    &-right{
        color: $right--contrast;
    }
    &-wrong{
        color: $wrong--contrast;
    }

    &-index{
        padding-top: 1em;
        margin-top: 2em;
        border-top:1px solid rgb(221,221,221);

        & ul{
            list-style: none;
        }
    }

    &-filter{
        font-size: 0.8rem;
        text-align: center;
        > label{
            padding:1em;
        }
    }

    &-question{
        background-color: #fdfdfd;
        position: relative;
        padding: 1.2em 1.5em;
        font-size: 0.8rem;
        margin-bottom: 1em;
        border-radius: 0.2em;
        border:#fdfdfd solid 2px;
        box-shadow: 0 0 0 1px $shadow;
        cursor: pointer;
        
        &-index{
            position: absolute;
            left: -30px;
            top: 15px;
            margin:0;
        }

        .mark{
            position: absolute;
            left: -45px;
            top: 18px;
            color: #ddd;
        }
        &--marked{
            .mark{
                color: $selected;
            }
        }

        &--wrong{
            border-color: $wrong;
        }
        &--right{
            border-color: $right;
        }

    }
    &-answer{
        color: $color--secundary;

        &--right{
            color: $right--contrast;
        }
        &--wrong{
            color: $wrong--contrast;
        }
    }
    &-reference{
        font-size: 0.7rem;
        color: $color--secundary;
        text-align: right;
    }

    &-panel{
        overflow: hidden;
        max-height: 0;
        transition: max-height .5s cubic-bezier(0,1,0,1);
    }

    &-panel--show{
        max-height: 1000px;
        transition: max-height .5s cubic-bezier(1,0,1,0);
    }
}